<div class="col-12 my-3">
  <%= link_to admin_end_user_path(end_user) do %>
    <%= image_tag sweets_revue.end_user.get_profile_image(80,90) %>
  <% end %>
</div>

<div class="col-12 mx-auto">
  <h4><strong><%= sweets_revue.sweets_name %></strong></h4>
</div>


<div class = "col-6">
  <div class="col-12 text-right">
      <%= sweets_revue.tax_included_price %>（税込み）
  </div>
  <div class="text-center">
    <%= image_tag sweets_revue.get_sweets_image(230,230) %>
  </div>
  <div class="review ml-4 mt-4">
    <div>評価</div>
    <!--5段階評価-->
    <div class="review_star ml-4">
      <%= render "public/sweets_revues/review_star", sweets_revue: sweets_revue %>
    </div>
  </div>
  <div class="icon-box mt-3">
    <div class="icon">
      <!--コメント数-->
      <i class="far fa-comment fa-2x comment-icon-color"></i><%= sweets_revue.post_comments.count %>
    </div>
    <div class="icon">
      <!--いいね数-->
      <i class="far fa-heart fa-2x my_icon-color"></i><%= sweets_revue.favorites.count %>
    </div>
  </div>
</div>

<div class="col-6">
  <div class="row-2 mt-4 box">
    商品名 : <%= sweets_revue.shop_name %>
  </div>
  <div class="row-2 mt-4 box">
    購入場所 : <%= sweets_revue.buy_place %><br>
  </div>
  <div class="row-2 mt-4 box">
    ジャンル : <%= sweets_revue.genre.name %><br>
  </div>
  <div class="row-2 mt-4 box">
    タグ :
    <% sweets_revue.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </div>
  <div class="row-2 mt-4 box">
    コメント : <%= sweets_revue.sweets_introduction %>
  </div>
</div>
