<div class="container">

  <div class = "row ml-3">
    <h5><strong>投稿一覧</strong></h5>
  </div>

  <dev class="label">
    <dev class=""><strong>投稿ID</strong></dev>
    <dev class=""><strong>商品名</strong></dev>
    <dev class=""><strong>投稿者</strong></dev>
  </dev>
  <div id="raty" class="row">
  <div class="row mt-4">
   <% @sweets_revues.each do |sweets_revue| %>
    <div class="review-box">
      <div class="review_contents_id">
        <strong><%= sweets_revue.id %></strong>
      </div>
      <div class="admin_review_contents_image">
         <%= link_to admin_sweets_revue_path(sweets_revue)  do %>
           <%= image_tag sweets_revue.get_sweets_image(100, 80) %>
         <% end %>
      </div>
      <div class="admin_review_contents_name">
        <%= link_to sweets_revue.sweets_name, admin_sweets_revue_path(sweets_revue.id) %>
        <br><%= sweets_revue.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class="admin_review_contents_star">
        <!--5段階評価 部分テンプレート-->
        <div id="review_star_<%= sweets_revue.id %>"></div>
        <!--<#%= render "public/sweets_revues/review_star", sweets_revue: sweets_revue %>-->
      </div>
      <div class="admin_review_contents_icon">
        <!--コメント数表示-->
        <i class="far fa-comment fa-2x comment_icon-color"></i>
        <%= sweets_revue.post_comments.count %>
      </div>
      <div class="admin_review_contents_icon">
        <!--いいね機能非同期済み-->
        <div id="favorite_btn_<%= sweets_revue.id %>">
          <%= render 'public/favorites/favorite', sweets_revue: sweets_revue %>
        </div>
      </div>
      <dev class="review_contents_nickname">
        <%= link_to sweets_revue.end_user.nickname, admin_end_user_path(sweets_revue.end_user) %>
      </dev>
    </div>
  <% end %>
  </div>
</div>

<div class="row text-center mt-3">
  <%= paginate @sweets_revues %>
</div>


<script>
$(document).on('turbolinks:load', function() {
    if ($('#raty').length) {
      var sweets_revue_ids = <%= @sweets_revue_ids %>
      var sweets_revue_review_stars = <%= @sweets_revue_review_stars %>
      for(var i = 0; i < sweets_revue_ids.length; i++) {
        let raty_number = "raty_" + sweets_revue_ids[i].toString();
        let raty_review_star_number = '#review_star_' + sweets_revue_ids[i].toString();
        $(raty_review_star_number).empty();
        raty_number = document.querySelector(raty_review_star_number);
        let review_star_number = 'review_star_' + sweets_revue_ids[i].toString();
        review_star_number.innerHTML = ""
        let option_number = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: sweets_revue_review_stars[i].toString(),
            readOnly: true,
        };
        raty(raty_number ,option_number);
      }
    }
});
</script>