<div class="container">

  <dev class="row justify-content-center">
    <div class="col-7">
      <div class="row">

        <div class="col-12">
          <%= link_to admin_end_user_path(@end_user) do %>
            <%= image_tag @sweets_revue.end_user.get_profile_image(80,90) %>
          <% end %>
        </div>

        <div class="col-12 mx-auto">
          <h4><strong><%= @sweets_revue.sweets_name %></strong></h4>
        </div>


        <div class = "col-6">
          <div class="col-12 text-right">
              <%= @sweets_revue.tax_included_price %>（税込み）
          </div>
            <%= image_tag @sweets_revue.get_sweets_image(280,200) %>
            <div class="review ml-4 mt-2">
              <p>評価</p>
              <!--5段階評価 部分テンプレート-->
              <div class="review_star ml-5">
                <%= render "public/sweets_revues/review_star", sweets_revue: @sweets_revue %>
                <!--<div id="review_star_<#%= @sweets_revue.id %>"></div>-->
              </div>
            </div>
            <div class="icon-box mt-3">
              <div class="icon ml-5">
                <!--いいね機能  部分テンプレート-->
                <i class="far fa-heart fa-2x"></i><%= @sweets_revue.favorites.count %>
              </div>
              <div class="icon ml-5">
                <!--コメント数-->
                <i class="far fa-comment fa-2x"></i><%= @sweets_revue.post_comments.count %>
              </div>
            </div>
        </div>

        <div class="col-6">
          <div class="row-2 mt-4 box">
            <%= @sweets_revue.shop_name %>
          </div>
          <div class="">
            <%= @sweets_revue.buy_place %><br>
          </div>
          <div class="">
            <%= @sweets_revue.genre.name %><br>
          </div>
          <div class="">
            <% @sweets_revue.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </div>
          <div class="">
            <%= @sweets_revue.sweets_introduction %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
        <div>
          コメント一覧(全<%= @sweets_revue.post_comments.count %>件）
        </div>
        <div>
          <% @sweets_revue.post_comments.each do |post_comment| %>
            <%= post_comment.id %>
            <%= post_comment.comment %>
            <%= link_to post_comment.end_user.nickname, end_user_path(post_comment.end_user_id) %>
            <%= link_to "削除", sweets_revue_post_comment_path(post_comment.sweets_revue, post_comment), method: :delete %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @sweets_revue, url: admin_stoppage_sweets_revue_path, method: :patch do |f| %>
      <div class="label">
        <div class="post_status">
            <%= f.radio_button :post_status, false %>
            <%= f.label :post_status, '閲覧不可'  %>
        </div>
        <div class="post_status">
            <%= f.radio_button :post_status, true %>
            <%= f.label :post_status, '閲覧可能' %>
        </div>
       </div>
      <%= f.submit '変更を保存', class:"btn btn-success mr-4" %>
        <!--%= link_to "削除", admin_item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>-->
    <% end %>
  </div>
    <!--<3%= link_to "投稿制限をかける", admin_stoppage_sweets_revue_path(@sweets_revue.id), method: :patch, class: "btn btn-danger mx-2", data: { confilm: "閲覧制限をかけますか？" } %>-->
</div>

