<div class = "row ml-3">
    <h5><strong><%= end_user.nickname %>さんの投稿一覧</strong></h5>
</div>

<div class="row">
  <table>
    <tbody>
      <% sweets_revues.each do |sweets_revue| %>
        <tr>
          <td>
            <%= link_to sweets_revue_path(sweets_revue)  do %>
              <%= image_tag sweets_revue.get_sweets_image(100, 80) %>
            <% end %>
          </td>
          <td>
            <%= link_to sweets_revue.sweets_name, sweets_revue_path(sweets_revue.id) %>
            <br><%= sweets_revue.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <!--5段階評価 部分テンプレート-->
            <div id="review_star_<#%= sweets_revue.id %>"></div>
            <%= render "public/sweets_revues/review_star", sweets_revue: sweets_revue %>
          </td>
          <td>
            <!--コメント数表示-->
            <i class="far fa-comment fa-2x"></i><%= sweets_revue.post_comments.count %>
          </td>
          <td>
            <!--いいね機能非同期-->
            <% if current_end_user == end_user %>
              <i class="far fa-heart fa-2x"></i><%= sweets_revue.favorites.count %>
            <% else %>
              <div id="favorite_btn_<%= sweets_revue.id %>">
                <%= render 'public/favorites/favorite', sweets_revue: sweets_revue %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center mt-3">
  <%= paginate sweets_revues %>
</div>