<div class = "icon-circle">
  <%= image_tag end_user.get_profile_image(120,120) %>
</div>
<div>
  <% if end_user == current_end_user %>
    <% if current_end_user.name != 'ゲストサンプル' %>
      <%= link_to edit_infomation_path(end_user) do %>
        <i class="fas fa-cog"></i>編集
      <% end %>
    <% end %>
  <% end %>
</div>

<div class = "infomationbox">
  <div class="my_intro_box">
	  <div class="intro_label">ニックネーム</div>
	  <div class="intro_field_name"><%= end_user.nickname %></div>
	  <div class="intro_label">introduction</div>
	  <div class="intro_field"><%= end_user.introduction %></div>
  </div>
  <div class="my_count">
    <%= end_user.sweets_revues.count %>投稿
  </div>
  <div class="my_count">
    <%= link_to end_user_followers_path(end_user) do %>
      <%= end_user.followers.count %>フォロワー
    <% end %>
  </div>
  <div class="my_count">
    <%= link_to end_user_followings_path(end_user) do %>
      <%= end_user.followings.count %>フォロー
    <% end %>
  </div>
  <div class="my_count">
    <% if end_user == current_end_user %>
      <!--ブックマーク-->
      <%= link_to favorites_end_user_path(@end_user) do %>
        いいね<%= end_user.favorites.count %>件
      <% end %>
    <% else %>
      <div id="follow_<%= end_user.id %>">
        <%= render partial: "public/relationships/follow", locals:{ end_user: end_user } %>
      </div>
    <% end %>
  </div>
</div>