<div class = "row ml-3">
  <div class="mr-2">
    <%= link_to new_sweets_revue_path do %>
      <i class="far fa-edit fa-2x" style="color:a9a9a9"></i>
    <% end %>
  </div>
  <div>
    <h5><strong><%= end_user.nickname %>さんの投稿一覧</strong></h5>
  </div>
</div>

<div class="row mt-4">
  <% sweets_revues.each do |sweets_revue| %>
    <div class="review_box">
      <div class="review_contents_image">
        <%= link_to sweets_revue_path(sweets_revue)  do %>
          <%= image_tag sweets_revue.get_sweets_image(80, 80) %>
        <% end %>
      </div>
      <div class="review_contents_name">
        <%= link_to sweets_revue.sweets_name, sweets_revue_path(sweets_revue.id) %>
        <br><%= sweets_revue.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class="review_contents_star">
        <!--5段階評価 部分テンプレート-->
        <div id="review_star_<#%= sweets_revue.id %>"></div>
        <%= render "public/sweets_revues/review_star", sweets_revue: sweets_revue %>
      </div>
      <div class="review_contents_icon">
        <!--コメント数表示-->
        <i class="far fa-comment fa-2x comment_icon-color"></i>
        <%= sweets_revue.post_comments.count %>
      </div>
      <div class="review_contents_icon">
        <!--いいね機能非同期済み-->
        <div id="favorite_btn_<%= sweets_revue.id %>">
          <%= render 'public/favorites/favorite', sweets_revue: sweets_revue %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="paginate mt-3">
  <%= paginate sweets_revues %>
</div>

