<div class="container">
<div class="row mt-3">
  <div class="col-lg-12 mx-auto">
    <h4 class="mb-3">会員一覧</h4>
    <table class="table table-bordered">
      <!--<thead class="table-active">-->
      <!--  <tr>-->
      <!--    <th>会員ID</th>-->
      <!--    <th>氏名</th>-->
      <!--    <th>メールアドレス</th>-->
      <!--    <th>ステータス</th>-->
      <!--  </tr>-->
      <!--</thead>-->
      <tbody>
        <% @end_users.each do |end_user| %>
          <tr>
            <td><%= end_user.id %></td>
            <td>
              <%= image_tag end_user.get_profile_image(100,80) %>
            </td>
            <td>
              <%= link_to end_user.nickname, end_user_path(end_user) %>
            </td>
            <td>
              投稿<%= end_user.sweets_revues.count %>件
            </td>
            <td>
              <%= end_user.followings.count %>フォロワー
            </td>
            <td>
              <div id="follow_<%= @end_user_id %>">
              <%= render "public/relationships/follow", end_user: end_user %>
              </div>
              <!--ユーザーとログイン中のユーザーが一致しない場合フォロー機能表示する-->
              <!--<#% unless current_end_user == end_user %>-->
              <!--  <#% if current_end_user.following?(end_user) %>-->
              <!--    <#%= link_to "フォロー外す", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-info btn-sm btn-block" %>-->
              <!--  <#% else %>-->
              <!--    <#%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "btn btn-success btn-sm btn-block" %>-->
              <!--  <#% end %>-->
              <!--<#% end %>-->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= paginate @end_users %>
    </div>
  </div>
</div>
</div>