<div class="row">
  <div class="col-6">
    <% if end_user_signed_in? %>
      <h6><%= current_end_user.name %>さんのマイページ</h6>
    <% end %>
  </div>
  <div class="col-6">
    <div class="new_postsweets_link">
      <%= link_to new_sweets_revue_path do %>
        <p>新規投稿</p>
      <% end %>
    </div>
    <!--部分テンプレートにしたい-->
    <!--新着順-->
    <!--いいね数順-->
  </div>
</div>

<div class="row">
  <div class="col-4">
    <!--ユーザー情報部分テンプレート-->
    <%= render "end_user_info", end_user: @end_user %>
  </div>

  <div class="col-8">
    <!--投稿部分テンプレート-->
    <div class = "row">
      <% if end_user_signed_in? %>
        <h5><%= current_end_user.nickname %>の投稿一覧</h5>
      <% end %>
    </div>
    <div class="row">
      <table>
        <tbody>
          <% @sweets_revues.each do |sweets_revue| %>
            <tr>
              <td>
                <%= link_to sweets_revue_path(sweets_revue)  do %>
                  <%= image_tag sweets_revue.get_sweets_image(80, 60) %>
                <% end %>
              </td>
              <td>
                <%= link_to sweets_revue.sweets_name, sweets_revue_path(sweets_revue.id) %>
                <br><%= sweets_revue.created_at.strftime('%Y/%m/%d') %>
              </td>
              <td>
                <!--5段階評価 部分テンプレート-->
                <div id="review_star_<#%= sweets_revue.id %>"></div>
                <%= render "public/sweets_revues/review_star", sweets_revue: sweets_revue %>
              </td>
              <td>
                <!--コメント数表示-->
                <i class="far fa-comment fa-2x"></i><%= sweets_revue.post_comments.count %>
              </td>
              <td>
              <!--いいね機能部分テンプレート-->
              <%= render 'public/sweets_revues/favorite', sweets_revue: sweets_revue %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @sweets_revues %>
  </div>
</div>