<!--エラーメッセージ-->
<%= render "public/shared/error_messages", resource: @sweets_revue %>
<div class="container">
  <div class="row justify-content-center mb-3">
      <h4><strong>投稿編集</strong></h4>
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @sweets_revue, url: sweets_revue_path(@sweets_revue), method: :PATCH, class: "col-5 mb-5" do |f| %>
      <div class="form-group row">
        <%= f.label :sweets_image, "商品画像", class: "col-4" %>
        <%= f.file_field :sweets_image, accept: "image/*", class: "col-8 pl-0" %>
      </div>
      <div class="form-group row">
        <%= f.label :sweets_name, "商品名", class: "col-4" %>
        <%= f.text_field :sweets_name, placeholder: "商品名", class: "col-8" %>
      </div>
      <div class="form-group row">
        <%= f.label :tax_included_price, "税込価格", class: "col-4" %>
        <%= f.text_field :tax_included_price, placeholder: "税込価格", class: "col-8" %>
      </div>
      <div class="form-group row">
        <%= f.label :sweets_introduction, "コメント", class: "col-4" %>
        <%= f.text_area :sweets_introduction, rows: "5", placeholder: "コメント", class: "col-8" %>
      </div>
       <div class="form-group row">
        <%= f.label :shop_name, "店舗名", class: "col-4" %>
        <%= f.text_field :shop_name, placeholder: "店舗名", class: "col-8" %>
      </div>
      <div class="form-group row">
        <%= f.label :buy_place, "購入場所や住所", class: "col-4" %>
        <%= f.text_field :buy_place, placeholder: "購入場所や住所", class: "col-8" %>
      </div>
      <div class="form-group row">
        <%= f.label :genre_id, "ジャンル", class: "col-4" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--ジャンル--" %>
      </div>
      <div class="form-group row">
        <%= f.label :tag_id, "タグ（複数選択可)", class: "col-12" %><br>
        <div class="form-box col-12">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, include_hidden: false) do |tag| %>
          <!--第一引数：タグIDのリストを渡し、複数のタグをsweets_revueに紐づける-->
          <!--第二引数：タグオブジェクトのリスト-->
          <!--第三引数：チェックボックスのvalue-->
          <!--第四引数：タグオブジェクトのnameプロパティをラベル名に指定-->
          <div class="form-check">
            <%= tag.label class: "form-check-label" do %>
              <%= tag.check_box class: "form-check-input" %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= render "public/sweets_revues/review_star", sweets_revue: @sweets_revue %>
      </div>
      <div class="form-group text-center mt-3">
        <%= f.submit "変更", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
