<div class = "row">
  <!--サイドバー-検索欄-->
  <div class = "col-3">
    <% if end_user_signed_in? %>
      <!--検索機能-->
      <%= render 'search' %>
    <% end %>
  </div>
  <!--メイン-投稿閲覧-->
  <div class="col-9">
    <div class="tite mb-4">
      <!--タイトル表示の切り替え-->
      <% if @genre %>
  			<h2><%= @genre.name %>の投稿一覧 (全<%= @sweets_revues_count %>件)</h2>
  		<% else %>
  			<h2>投稿一覧 (全<%= @sweets_revues_count %>件)</h2>
  		<% end %>
		</div>
		<!--絞り込み表示-->
    <div class="sweets_revues-box">
  		<% if @sweets_revues.present? %>
        <% @sweets_revues.each do |sweets_revue| %>
          <div class="review-box-n mb-3">
            <% if sweets_revue.post_status == false %>
              <div class="mt-5 mx-5">
                <strong>閲覧制限がかかっている為この投稿は見れません</strong>
              </div>
            <% else %>
              <%= link_to sweets_revue_path(sweets_revue)  do %>
                <div>商品名：<%= sweets_revue.sweets_name %></div>
                <div class="sweets_image text-center">
                  <%= image_tag sweets_revue.get_sweets_image(130,130) %>
                </div>
              <% end %>
              <div>
                投稿日：<%= sweets_revue.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class="genre-name">
                ジャンル：<%= sweets_revue.genre.name %><br>
              </div>
              <div class="tag-name">
                タグ：<br>
                <% sweets_revue.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </div>
              <div class="text-center">
                <!--5段階評価-->
                <%= render "review_star", sweets_revue: sweets_revue %>
              </div>
              <div class="count mt-2">
                <!--コメント数表示-->
                <div class="icon">
                  <i class="far fa-comment fa-2x comment-icon-color"></i><%= sweets_revue.post_comments.count %>
                </div>
                <!--いいね機能-->
                <div class="icon">
                  <div id="favorite_btn_<%= sweets_revue.id %>">
                    <%= render 'public/favorites/favorite', sweets_revue: sweets_revue %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
  			<h3>該当する投稿が見つかりませんでした。</h3>
  		<% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @sweets_revues %>
    </div>
  </div>
</div>
