<div class="row">
  <div class="col-12">
    <div class="new_postsweets_link">
      <%= link_to new_sweets_revue_path do %>
        <p>新規投稿</p>
      <% end %>
    </div>
  </div>
</div>

<div class = "row">
  <!--サイドバー 検索-->
  <div class = "col-4">
    <div class="text-center my-3">
      <h5><strong>投稿検索</strong></h5>
    </div>
    <!--検索機能 部分テンプレート-->
    <%= render 'search' %>
  </div>
  <!--メイン 投稿閲覧-->
  <div class = "col-8">
　　<!--タイトル表示の切り替え-->
    <% if @genre %>
			<h2 class="section-ttl"><%= @genre.name %>の商品一覧 (全<%= @sweets_revues.count %>件)</h2>
		<% else %>
			<h2 class="section-ttl">商品一覧 (全<%= @sweets_revues.count %>件)</h2>
		<% end %>
		<!--絞り込み表示-->
    <div class="d-flex flex-lg-wrap items_width">
  		<% if @sweets_revues.present? %>
        <% @sweets_revues.each do |sweets_revue| %>
          <div class="pr-3">
            <%= link_to sweets_revue_path(sweets_revue)  do %>
            <div><%= sweets_revue.sweets_name %></div>
            <div>
              <%= image_tag sweets_revue.get_sweets_image(80, 60) %>
            </div>
            <% end %>


            <%= sweets_revue.genre.name %><br>

            <% sweets_revue.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>


            <!--5段階評価 部分テンプレート-->
            <%= render "review_star", sweets_revue: sweets_revue %>
            <!--コメント数表示-->
            <i class="far fa-comment fa-2x comment_icon-color"></i><%= sweets_revue.post_comments.count %>
            <!--いいね機能非同期-->
            <div id="favorite_btn_<%= sweets_revue.id %>">
              <%= render 'public/favorites/favorite', sweets_revue: sweets_revue %>
            </div>
          </div>
        <% end %>
      <% else %>
  			<h3>該当する投稿が見つかりませんでした。</h3>
  		<% end %>
    </div>
      <%= paginate @sweets_revues %>
  </div>
</div>
  <!--<div class="row justify-content-center">-->
  <!--</div>-->