<div class="col-lg-10">
      <div class="d-flex">
        <h2><strong>投稿一覧</strong></h2>
        <h4 class="mt-2">(全<%= @sweets_revues.count %>件)</h4>
      </div>
      <div class = "row">
        <div class = "col-4">
          <!--タグ検索-->
          <%= form_tag({controller:"sweets_revues",action:"index"}, method: :get) do %>
            <% Tag.all.each do |t| %>
              <%= check_box :tag_ids, t.name %><%= t.name %>
            <% end %>
            <br><%= submit_tag '検索' %>
          <% end %>
          <!--ジャンル検索-->
          <%= form_with model: @sweets_revue, url: sweets_revues_path, method: :get, class: "col-5 mb-5" do |f| %>
           <%= f.label :genre_id, "ジャンル" %>
           <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--ジャンル--" %>
          <!-- <#%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, include_hidden: false) do |tag| %>-->
          <!--<div class = "form-check">-->
          <!--  <#%= tag.label class: "form-check-label" do %>-->
          <!--    <#%= tag.check_box class: "form-check-input" %>-->
          <!--    <#%= tag.text %>-->
           <%= f.submit "検索" %>
          <% end %>
        </div>
        <div class = "col-8">
          <!--<div class="d-flex flex-lg-wrap items_width">-->
        <!--  <#% if params[:genre_id] %>-->
      		<!--	<h2 class="section-ttl"><3%= @genre.name %>の投稿一覧 (全<3%= @sweets_revues_count %>件)</h2>-->
      		<!--<#% else %>-->
      		<!--	<h2 class="section-ttl">投稿一覧 (全<3%= @sweets_revues_count %>件)</h2>-->
      		<!--<#% end %>-->
      		<% if @sweets_revues.first %>
            <% @sweets_revues.each do |sweets_revue| %>
              <div class="pr-3">
                <%= link_to sweets_revue_path(sweets_revue)  do %>
                <p><%= sweets_revue.sweets_name %></p>
                  <%= image_tag sweets_revue.get_image(80, 60) %>
                <% end %>
                <!--5段階評価 部分テンプレート-->
                <%= render "review_star", sweets_revue: sweets_revue %>
                <!--コメント数表示-->
                <p><%= link_to "#{sweets_revue.post_comments.count} コメント", sweets_revue_path(sweets_revue.id) %></p>
                <!--いいね機能部分テンプレート-->
                <%= render 'favorite', sweets_revue: sweets_revue %>
              </div>
            <% end %>
          <% else %>
      			<h3>該当する投稿が見つかりませんでした。</h3>
      		<% end %>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row justify-content-center">-->
  <!--    <#%= paginate @sweets_revues %>-->
  <!--</div>-->