<!--エラーメッセージ-->
<%= render "public/shared/error_messages", resource: @sweets_revue %>

<!--<div class="row justify-content-center">-->
<!--    <h5><strong>新規投稿</strong></h5>-->
<!--</div>-->


<div class="row justify-content-center">
  <div class="col-md-4 position-static">
    <div class="row">
  　   <%= form_with model: @sweets_revue, url: sweets_revues_path, method: :post do |f| %>
        <div class="row mb-2">
            <%= f.label :sweets_image, "商品画像", class: "col-3" %>
            <%= f.file_field :image, accept: "image/*", class: "col-9" %>
        </div>

        <div class="row mb-2">
          <%= f.text_field :sweets_name, placeholder: "商品名", class: "col-12 mb-2"%>
          <%= f.text_field :tax_included_price,placeholder: "税込価格", class: "col-12 mb-2" %>
          <%= f.text_area :sweets_introduction, rows: "5", placeholder: "コメント", class: "col-12 mb-2" %>
          <%= f.text_field :shop_name, placeholder: "店舗名", class: "col-12 mb-2" %>
          <%= f.text_field :buy_place, placeholder: "購入場所や住所", class: "col-12 mb-2" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--ジャンルを選択してください--", class: "col-12 mb-2" %>
        </div>

        <div class="row mb-2">
            <%= f.label :tag_id, "タグ（複数選択可)", class: "col-12 mb-2" %>
          <div class="form-box col-12">
            <!--第一引数：タグIDのリストを渡し、複数のタグをsweets_revueに紐づける-->
            <!--第二引数：タグオブジェクトのリスト-->
            <!--第三引数：チェックボックスのvalue-->
            <!--第四引数：タグオブジェクトのnameプロパティをラベル名に指定-->
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, include_hidden: false) do |tag| %>
              <div class = "form-check">
                <%= tag.label class: "form-check-label" do %>
                  <%= tag.check_box class: "form-check-input" %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row justify-content-center mb-2">
          <div id="star", class: "col-12 position-static"></div>
        </div>
        <div class="row justify-content-center mb-2">
          <%= f.submit '新規登録', class: "btn btn-info col-6 mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    // 第一引数
    // 対象の要素（id = "star"）を取得し変数に代入
    let raty_elem = document.querySelector('#star');
    // 対象の要素を初期化
    raty_elem.innerHTML = ""
    // 第二引数
    // 変数に値を代入
    let option = {
        score: "<%= params[:score].present? ? params[:score] : 0 %>",
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        // scoreName: 'sweets_revue[review_star]',
        half: true,
      };
      // （第一引数と第二引数）の値を返す
    raty(raty_elem,option);
   });
</script>