<div class="row mb-5">
  <div class="col-md-5 offset-md-1">
    <h4><span class="title">新規投稿</span></h4>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">
  <%= form_with model: @sweets_revue, url: sweets_revues_path, method: :post do |f| %>

    <table class="table table-borderless">

      <tr>
        <td class="col-md-3 subtitle">商品画像</td>
        <td class="col-md-3"><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">商品名</td>
        <td class="col-md-5"><%= f.text_field :sweets_name %></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">税込価格</td>
        <td class="col-md-3"><%= f.text_field :tax_included_price %>円</td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">商品説明</td>
        <td class="col-md-3"><%= f.text_area :sweets_introduction %></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">店舗名</td>
        <td class="col-md-5"><%= f.text_field :shop_name %></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">購入場所や住所</td>
        <td class="col-md-5"><%= f.text_field :buy_place %></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">ジャンル</td>
        <td class="col-md-3"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">タグ（複数選択可）</td>
        <td>
          <%= form_for @sweets_revue do |f| %>
            <div class = "form-group">
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class = "form-check">
                  <%= tag.label class: "form-check-label" do %>
                    <%= tag.check_box class: "form-check-input" %>
                    <%= tag.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">タグ（その他）</td>
        <td></td>
      </tr>
      <tr>
        <td class="col-md-3 subtitle">評価</td>
        <td></td>
      </tr>
    </table>

    <div class= "col-md-8 offset-md-4 action">
      <%= f.submit '新規登録', class: "btn btn-success" %>
    </div>
  <% end %>
  </div>
</div>