<!--<div class="row">-->
 <!--<div class = "col-12">-->
  <!--<div class="col-6">-->
    <div class = "row">
      <div class = "col-3">
        ユーザーアイコン＋リンク
      </div>
      <div class = "col-3">
        ニックネーム＋リンク
      </div>
    <div>

    <div class = "row">
      <div class = "col-2">
        <span><%= @sweets_revue.sweets_name %></span>
      </div>
      <div class = "col-2">
        <%= @sweets_revue.tax_included_price %>
      </div>
      <div class = "col-2">
        <%= link_to "編集", edit_sweets_revue_path(@sweets_revue) %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-4">
        <%= image_tag @sweets_revue.get_image(300, 200) %>
      </div>
      <div class = "col-2">
        <%= @sweets_revue.shop_name %><br>
        <%= @sweets_revue.buy_place %><br>
        <%= @sweets_revue.genre.name %><br>
        <% @sweets_revue.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
        <%= @sweets_revue.sweets_introduction %>
      </div>
      <div>
        <%= render "review_star", sweets_revue: @sweets_revue %>
      </div>
    </div>
  <!--</div>-->

<!--</div>-->
<!--</div>-->
