<div class="container">
  <dev class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <%= render 'public/sweets_revues/sweets_revue_show', sweets_revue: @sweets_revue, end_user: @end_user %>
      </div>
    </div>

    <div class="col-5">
        <!--コメントフォーム-->
        <div class="row-5 mt-5">
          <%= form_with model: [@sweets_revue, @post_comment] do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
            <%= f.submit "投稿" %>
          <% end %>
        </div>
        <div>
          <% @sweets_revue.post_comments.each do |post_comment| %>
            <%= post_comment.id %>
            <%= post_comment.comment %>
            <%= link_to post_comment.end_user.nickname, end_user_path(post_comment.end_user_id) %>
            <% if post_comment.end_user == current_end_user %>
              <%= link_to "削除", sweets_revue_post_comment_path(post_comment.sweets_revue, post_comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>