<!--エラーメッセージ-->
<%= render "devise/shared/error_messages", resource: resource %>

<div class="row justify-content-center">
    <h5><strong>ログイン</strong></h5>
</div>

<div class="row justify-content-center">
  <!--<#%= form_with model: @end_user, url: end_user_session_path do |f| %>-->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :ＩＤ %><br />
      <%= f.text_field :login_id, autofocus: true, autocomplete: "login_id", size: 30 %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br>
      <%= f.password_field :password, autocomplete: "password", size: 30 %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "ログイン", class:"btn btn-info" %>
    </div>
  <% end %>
</div>

<%= render "admin/shared/links" %>
