<% if @genre.errors.any? %>
  <%= @genre.errors.count %>件のエラーが発生しました
  <ul>
    <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row mb-5">
  <div class="col-md-5 offset-md-1">
    <h4><span class="title">ジャンル編集</span></h4>
  </div>
</div>

<div class="row">
  <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
    <div class="form-group form-inline">
      <div class="col-md-6"><%= f.text_field :name, placeholder: "ジャンル名" %></div>
      <div class="col-md-3"><%= f.submit '変更を保存', class: "btn btn-success" %></div>
   </div>
  <% end %>
</div>