<div class = "row ml-3">
    <h5><strong>投稿一覧</strong></h5>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <th>投稿ID</th>
        <th></th>
        <th>商品名</th>
        <th></th>
        <th></th>
        <th></th>
        <th>投稿者</th>
      </tr>
    </thead>
    <tbody>
      <% @sweets_revues.each do |sweets_revue| %>
        <tr class="col-12">
          <td>
            <%= sweets_revue.id %>
          </td>
          <td>
            <%= link_to admin_sweets_revue_path(sweets_revue)  do %>
              <%= image_tag sweets_revue.get_sweets_image(100, 80) %>
            <% end %>
          </td>
          <td>
            <%= link_to sweets_revue.sweets_name, admin_sweets_revue_path(sweets_revue.id) %>
            <br><%= sweets_revue.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <!--5段階評価 部分テンプレート-->
            <div id="review_star_<%= sweets_revue.id %>"></div>
            <%= render "public/sweets_revues/review_star", sweets_revue: sweets_revue %>
          </td>
          <td>
          <!--いいね機能部分テンプレート-->
          <i class="far fa-heart fa-2x"></i><%= sweets_revue.favorites.count %>
          <!--<#%= render 'public/sweets_revues/favorite', sweets_revue: sweets_revue %>-->
          </td>
          <td>
            <!--コメント数表示-->
            <i class="far fa-comment fa-2x"></i><%= sweets_revue.post_comments.count %>
          </td>
          <td>
            <%= link_to sweets_revue.end_user.nickname, admin_end_user_path(sweets_revue.end_user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center mt-3">
  <%= paginate @sweets_revues %>
</div>