<div class="container">
  <%= render "admin/shared/error_messages", resource: @tag %>

  <div class="row justify-content-center mb-5">
    <h4><span class="title">タグ一覧・追加</span></h4>
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
    <div class="d-flex">
      <div class="class mr-2"><%= f.text_field :name, placeholder: "タグ名" %></div>
      <div><%= f.submit "新規登録", class: "btn btn-outline-success" %></div>
    </div>
    <% end %>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="form-box col-8 mt-5 saiz: 10">
      <!--タグ検索-->
      <% @tags.each do |tag| %>
        <!--[:tag_ids]だけだと、他の[tag_ids]と区別がつかないので、[:tag_ids, t.name]としている-->
        <div class="form-check-label">
          <%= link_to edit_admin_tag_path(tag.id), class: "text-dark" do %>
            <%= tag.name %>
          <% end %>
          <%= link_to admin_tag_path(tag.id), class: "text-danger", method: :delete, data: { confirm: "本当に削除しますか？" } do %>
             ×
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>




