<div class="container">
  <!--エラーメッセージ-->
  <%= render "admin/shared/error_messages", resource: @end_user %>

  <div class="row justify-content-center mt-5">
    <h5><strong>会員情報編集</strong></h5>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 text-right">
      <div class="label">会員ID</div>
      <div class="label">名前</div>
      <div class="label">ニックネーム</div>
      <div class="label">メールアドレス</div>
      <div class="label-img">アイコン画像</div>
      <div class="label-intro">自己紹介</div>
      <div class="label">会員ステータス</div>
    </div>

    <div class="col-6 text-left">
      <div class="label"><%= @end_user.id %></div>
      <div class="label"><%= @end_user.name %></div>
      <div class="label"><%= @end_user.nickname %></div>
      <div class="label"><%= @end_user.email %></div>
      <div class="label-img"><%= image_tag @end_user.get_profile_image(100,80) %></div>
      <div class="label-intro"><%= @end_user.introduction %></div>
      <%= form_with model: @end_user, url: admin_end_user_path, method: :patch do |f| %>
        <div class="label-status">
          <div class="is_deleted">
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, '有効'  %>
          </div>
          <div class="is_deleted ml-3">
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, '退会' %>
          </div>
         </div>
        <%= f.submit '変更を保存', class:"btn btn-outline-success mr-4",  data: { confirm: "本当に変更しますか？" } %>
      <% end %>
    </div>
  </dev>

</div>
