<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h4 class="text-center mb-3">会員一覧</h4>
    </div>
      <% @end_users.each do |end_user| %>
        <div class="user-box-n p-inherit">
          <div class="user-body"><%= image_tag end_user.get_profile_image(80,80) %></div>
          <div class="user-body"><%= end_user.id %> : <%= link_to end_user.name, admin_end_user_path(end_user) %></div>
          <div class="user-body"><%= link_to end_user.nickname, admin_end_user_path(end_user) %></div>
          <div class="user-body">投稿<%= end_user.sweets_revues.count %>件</div>
          <div class="user-body"><%= end_user.followers.count %>フォロワー</div>
          <div class="user-body">
            <% if end_user.is_deleted == false %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-black-50">退会</div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @end_users %>
  </div>
</div>





