<div class="container">

  <div class="row ml-3">
    <h4><strong>会員一覧</strong></h4>
  </div>
  
  <div class="end-user-contens row mt-4">
    <%= @end_users.each do |end_user| %>
      <div class="end-user-text1">
        <strong>ID-<%= end_user.id %></strong>
      </div>
      <div class="end-user-text2">
        <%= image_tag end_user.get_profile_image(100,80) %>
      </div>
      <div class="end-user-text2">
        <%= link_to end_user.name, admin_end_user_path(end_user) %>
      </div>
      <div class="end-user-text2">
        <%= link_to end_user.nickname, admin_end_user_path(end_user) %>
      </div>
      <div class="end-user-text1">
        投稿<%= end_user.sweets_revues.count %>件
      </div>
      <div class="end-user-text2">
        <%= end_user.followings.count %>フォロワー
      </div>
      <dev class="end-user-text2">
        <% if end_user.is_deleted == false %>
          <h6 class="text-success">有効</h6>
        <% else %>
          <h6 class="text-black-50">退会</h6>
        <% end %>
      </dev>
    <% end %>
  </div>
</div>

<div class="text-center mt-3">
  <%= paginate @end_users %>
</div>