
    <%= render "devise/shared/error_messages", resource: resource %>
<div class="row mb-5">
  <div class="col-md-10">
    <h4><span class="title">ログイン</span></h4>
  </div>
</div>

<div class="row justify-content-around">
  <div class="col-sm-8 px-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <div class="label"><%= f.label :ニックネーム %></div>
      <div class="input_text"><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", size: 40 %></div>
    </div>

    <div class="field">
      <div class="label"><%= f.label :パスワード %></div>
      <div class="input_text"><%= f.password_field :password, autocomplete: "current-password", size: 40 %></div>
    </div>

    <div class="actions mb-5">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>

<div class="row mb-5">
  <div class="caption mb-5">
    <P>会員登録がお済みでない方は
      <%= link_to 'こちら', new_end_user_registration_path %>
       から新規登録を行ってください
    </p>
  </div>
</div>